.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 28px;
}

.header {
  padding: 50px 0;
}

.header span {
  color: #9F0013;
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.header-nav a {
  color: #000;
}

.header-nav .active {
  color: #9F0013;
}

.header-nav ul li:nth-child(2)::before {
  content: "/";
  padding-right: 8px;
}

.avangers-logo {
  height: 100px;
  background-color: #232222;
  margin-bottom: 50px;
}
.avangers-logo .avangers-logo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avangers-logo .avangers-logo__title {
  padding-left: 45px;
  display: flex;
  align-items: center;
  column-gap: 83px;
}
.avangers-logo .avangers-logo__title p {
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-list {
  margin-bottom: 50px;
}

.card-list__row {
  display: flex;
  justify-content: space-between;
  row-gap: 55px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card-list__item {
  width: 225px;
  flex: 0 0 19%;
}

.card-list__item img {
  width: 100%;
  height: 345px;
}

.card-list__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-list__price {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Condensed", "sans-serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-list__load-more {
  text-align: center;
}

.card-list__load-more button {
  padding: 10px 50px;
  background-color: #9F0013;
  color: #FFF;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.card-list__load-more button:disabled {
  opacity: 0.5;
}